@import '../../utils/sass/variables';


$header-spacing: 20px;

.header
{
  background: #fff;

  text-align: center;

  width: 100%;

  padding-top: $header-spacing;
  margin-bottom: $header-spacing;
}


$header-spacing-small: 20px;
$header-spacing-medium: 100px;
$header-spacing-large: 200px;

%accountDetail 
{
  display: flex;
  justify-content: space-between;

  padding-left: $header-spacing-small;
  padding-right: $header-spacing-small;

  @media (min-width: 800px)
  {
    padding-left: $header-spacing-large;
    padding-right: $header-spacing-large;
  }

  @media (min-width: 500px)
  {
    padding-left: $header-spacing-medium;
    padding-right: $header-spacing-medium;
  }
}

$left-right-spacing-amount: 2.5px;

%leftRightSpacing
{
  padding-left: $left-right-spacing-amount;
  padding-right: $left-right-spacing-amount;
}

.balance
{
  @extend %accountDetail;

  h1
  {
    @extend %leftRightSpacing;
  }
}

.income
{
  @extend %accountDetail;

  h2
  {
    @extend %leftRightSpacing;
  }
}

.outcome
{
  @extend %accountDetail;

  h2
  {
    @extend %leftRightSpacing;
  }
}