@import '../../utils/sass/variables';

.header
{
  background: #fff;

  text-align: center;

  width: 100%;

  padding-top: 20px;
}

%accountDetail 
{
  display: flex;
  justify-content: space-between;

  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 800px)
  {
    padding-left: 200px;
    padding-right: 200px;
  }

  @media (min-width: 500px)
  {
    padding-left: 100px;
    padding-right: 100px;
  }
}

$spacingAmount: 2.5px;
%leftRightSpacing
{
  padding-left: $spacingAmount;
  padding-right: $spacingAmount;
}

.balance
{
  @extend %accountDetail;

  h1
  {
    @extend %leftRightSpacing;
  }
}

.income
{
  @extend %accountDetail;

  h2
  {
    @extend %leftRightSpacing;
  }
}

.outcome
{
  @extend %accountDetail;

  h2
  {
    @extend %leftRightSpacing;
  }
}